* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Active le défilement fluide */
}

body {
    font-family: 'Montserrat', sans-serif; /* Choix de la police */
    line-height: 1.6;
    background-color: #f4f4f4; /* Fond plus clair */
    color: #333;
}

.hidden {
    display: none;
}

.banner {
    position: relative;
    height: 100vh; /* Hauteur de la bannière */
    overflow: hidden; /* Évite de montrer du contenu débordant */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('banniere.png') no-repeat center center;
    background-size: cover;
    transform: translateZ(0);
    will-change: transform; /* Optimisation pour les performances */
    z-index: 0; /* S'assurer que c'est derrière le contenu */
}

.banner-content {
    position: relative;
    text-align: center;
    z-index: 1; /* Assure que le texte est au-dessus de l'arrière-plan */
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #00d9ff;
    text-shadow: 2px 2px 10px rgba(0, 217, 255, 0.8);
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
}

.banner-content h1, .banner-content p {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #001f3f; /* Couleur sombre pour le header */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #ff4136; /* Couleur rouge pour les boutons */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff851b; /* Couleur orange au survol */
    transform: scale(1.05);
}

nav {
    background-color: #001f3f; /* Couleur de fond */
    padding: 10px; /* Espacement interne */
    display: flex; /* Utilise flexbox */
    justify-content: center; /* Centre le contenu horizontalement */
}

nav ul {
    list-style-type: none; /* Enlève les puces */
    margin: 0; /* Enlève les marges */
    padding: 0; /* Enlève le padding */
    display: flex; /* Affiche les éléments en ligne */
}

nav li {
    margin: 0 10px; /* Espacement entre les liens */
}

nav a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Enlève le soulignement */
    padding: 10px 20px; /* Espacement interne */
    border-radius: 50px; /* Arrondir les coins pour créer des ovales */
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond avec transparence */
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition douce */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Couleur de fond au survol */
    color: #00BFFF; /* Couleur des liens au survol */
}

/* Styles pour la section "À Propos" */
.section-boxx {
    display: flex; /* Active le flexbox */
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center; /* Centre le contenu verticalement si nécessaire */
    padding: 20px; /* Espacement interne */
    background-color: #f9f9f9; /* Couleur de fond pour la section */
    border-radius: 10px; /* Coins arrondis */
    margin-bottom: 20px; /* Espacement entre les sections */
    text-align: center; /* Centre le texte */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .skill-box {
        flex: 1 0 45%;
    }

    form input, form textarea {
        width: 90%;
    }

    nav.menu ul {
        flex-direction: column;
        align-items: center;
    }

    nav.menu ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .skill-box {
        flex: 1 0 100%;
    }

    header {
        padding: 15px;
    }

    button {
        width: 100%;
    }

    .banner {
        padding: 15px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    nav.menu ul {
        flex-direction: column;
        align-items: center;
    }

    nav.menu ul li {
        margin: 5px 0;
    }
}

#currentTime {
    font-size: 2em; /* Augmenter la taille de la police */
    color: #ffffff; /* Couleur de l'heure */
    position: absolute; /* Positionner de manière absolue */
    top: 20px; /* Espace depuis le haut */
    left: 20px; /* Espace depuis la gauche */
    z-index: 10; /* S'assurer qu'il soit au-dessus des autres éléments */
}
